In [1]:
import pandas as pd
df=pd.read_csv("datas/us-income-annual.csv")
new_col=""
for i in df.columns:
    new_col+=i.replace("\"","")
clean_col=new_col.split(",")
clean_col
df_income=df["Ticker,SimFinId,Currency,\"Fiscal Year\",\"Fiscal Period\",\"Report Date\",\"Publish Date\",\"Restated Date\",\"Shares (Basic)\",\"Shares (Diluted)\",Revenue,\"Cost of Revenue\",\"Gross Profit\",\"Operating Expenses\",\
\"Selling"].str.split(",").apply(pd.Series)
df_income.columns=clean_col

6 financial ratios are required

<br>1. Working Capital Ratio
<br>from balance sheet
<br>Total current asset - Current Liability ✔
<br>2. Quick Ratio
<br>from balance sheet
<br>Total Current Assets - Inventory-Prepaid Expenses ✔
<br>3. Earnings per Share (EPS)
<br>from income statement
<br>(Net Income - Preferred Dividends)/Common shares outstanding ✔
<br>4. Price-Earnings (P/E) Ratio
<br>from income statement (need to get price of the equity)
<br>(Market value per shares/Earnings per share)
<br>5. Debt-Equity Ratio 
<br>from balances sheet
<br>(Debt)/Equity ✔
<br>6. Return on Equity (ROE)
<br>from income statement
<br>net income/shareholders equity ✔

So we need
# Balance Sheet:
Total current asset , Current Liability, Inventory, Prepaid Expenses,Debt,Equity
# Income statement:
Net Income , Preferred Dividends, Common shares outstanding, Market value per shares,shareholders equity

In [2]:
df=pd.read_csv("datas/us-balance-annual.csv")
new_col=""
for i in df.columns:
    new_col+=i.replace("\"","")
clean_col=new_col.split(";")
clean_col
df_balance=df[df.columns[0]].str.split(";").apply(pd.Series)
df_balance.columns=clean_col

In [3]:
df_income

,Ticker,SimFinId,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Non-Operating Income (Loss),Interest Expense Net,Pretax Income (Loss) Adj.,Abnormal Gains (Losses),Pretax Income (Loss),Income Tax (Expense) Benefit Net,Income (Loss) from Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income (Common)
0,A,45846,USD,2016,FY,2016-10-31,2016-12-20,2018-12-20,326000000,329000000,...,-71000000,-61000000,544000000,,544000000,-82000000,462000000,,462000000,462000000
1,A,45846,USD,2017,FY,2017-10-31,2017-12-21,2018-12-20,322000000,326000000,...,-38000000,-57000000,803000000,,803000000,-119000000,684000000,,684000000,684000000
2,A,45846,USD,2018,FY,2018-10-31,2018-12-20,2020-12-18,321000000,325000000,...,42000000,-37000000,946000000,,946000000,-630000000,316000000,,316000000,316000000
3,A,45846,USD,2019,FY,2019-10-31,2019-12-19,2021-12-17,314000000,318000000,...,-22000000,-38000000,919000000,,919000000,152000000,1071000000,,1071000000,1071000000
4,A,45846,USD,2020,FY,2020-10-31,2020-12-18,2021-12-17,309000000,312000000,...,-4000000,-70000000,842000000,,842000000,-123000000,719000000,,719000000,719000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10465,ZYNE,901704,USD,2020,FY,2020-12-31,2021-03-10,2022-03-01,27022931,27022931,...,725711,243992,-51336831,,-51336831,,-51336831,,-51336831,-51336831
10466,ZYXI,171401,USD,2016,FY,2016-12-31,2017-04-18,2018-02-28,34398357,34398357,...,-556000,-352000,84000,,84000,-15000,69000,,69000,69000
10467,ZYXI,171401,USD,2017,FY,2017-12-31,2018-02-28,2019-02-26,35371600,36515600,...,-1450000,-1450000,7494000,,7494000,-129000,7365000,,7365000,7365000
10468,ZYXI,171401,USD,2018,FY,2018-12-31,2019-02-26,2019-02-26,35753300,37447300,...,-154000,-154000,10216000,,10216000,-664000,9552000,,9552000,9552000
10469,ZYXI,171401,USD,2019,FY,2019-12-31,2020-02-27,2021-02-25,35682900,37359300,...,-5000,-5000,11061000,880000,11941000,-2449000,9492000,,9492000,9492000

In [4]:
df_balance

,Ticker,SimFinId,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Short Term Debt,Total Current Liabilities,Long Term Debt,Total Noncurrent Liabilities,Total Liabilities,Share Capital & Additional Paid-In Capital,Treasury Stock,Retained Earnings,Total Equity,Total Liabilities & Equity
0,A,45846,USD,2016,Q4,2016-10-31,2016-12-20,2017-12-21,326000000,329000000,...,0,945000000,1904000000,2603000000,3548000000,9165000000,-10508000000,6089000000,4246000000,7794000000
1,A,45846,USD,2017,Q4,2017-10-31,2017-12-21,2018-12-20,322000000,326000000,...,210000000,1263000000,1801000000,2328000000,3591000000,5303000000,,-126000000,4835000000,8426000000
2,A,45846,USD,2018,Q4,2018-10-31,2018-12-20,2018-12-20,321000000,325000000,...,0,1171000000,1799000000,2799000000,3970000000,5311000000,,-336000000,4571000000,8541000000
3,A,45846,USD,2019,Q4,2019-10-31,2019-12-19,2020-12-18,314000000,318000000,...,616000000,2080000000,1791000000,2624000000,4704000000,5280000000,,-18000000,4748000000,9452000000
4,A,45846,USD,2020,Q4,2020-10-31,2020-12-18,2021-12-17,309000000,312000000,...,75000000,1467000000,2284000000,3287000000,4754000000,5314000000,,81000000,4873000000,9627000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10659,ZYNE,901704,USD,2020,Q4,2020-12-31,2021-03-10,2022-03-01,27022931,27022931,...,,13913248,,,13913248,262315983,,-202172455,60143528,74056776
10660,ZYXI,171401,USD,2016,Q4,2016-12-31,2017-04-18,2018-02-28,34398357,34398357,...,118000,7745000,136000,148000,7893000,6063000,0,-9776000,-3802000,4091000
10661,ZYXI,171401,USD,2017,Q4,2017-12-31,2018-02-28,2019-02-26,35371600,36515600,...,354000,4027000,,0,4027000,7645000,-243000,-2411000,4902000,8929000
10662,ZYXI,171401,USD,2018,Q4,2018-12-31,2019-02-26,2019-04-30,35753300,37447300,...,,6983000,2967000,2977000,9960000,8191000,-3675000,4864000,9291000,19251000
10663,ZYXI,171401,USD,2019,Q4,2019-12-31,2020-02-27,2021-02-25,35682900,37359300,...,,5197000,,3427000,8624000,9232000,-3846000,14356000,19653000,28277000

In [5]:
def combine_two_cells(col1,col2):
    new_col=str(col1)+" "+str(col2)
    return new_col

In [6]:
df_balance

,Ticker,SimFinId,Currency,Fiscal Year,Fiscal Period,Report Date,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Short Term Debt,Total Current Liabilities,Long Term Debt,Total Noncurrent Liabilities,Total Liabilities,Share Capital & Additional Paid-In Capital,Treasury Stock,Retained Earnings,Total Equity,Total Liabilities & Equity
0,A,45846,USD,2016,Q4,2016-10-31,2016-12-20,2017-12-21,326000000,329000000,...,0,945000000,1904000000,2603000000,3548000000,9165000000,-10508000000,6089000000,4246000000,7794000000
1,A,45846,USD,2017,Q4,2017-10-31,2017-12-21,2018-12-20,322000000,326000000,...,210000000,1263000000,1801000000,2328000000,3591000000,5303000000,,-126000000,4835000000,8426000000
2,A,45846,USD,2018,Q4,2018-10-31,2018-12-20,2018-12-20,321000000,325000000,...,0,1171000000,1799000000,2799000000,3970000000,5311000000,,-336000000,4571000000,8541000000
3,A,45846,USD,2019,Q4,2019-10-31,2019-12-19,2020-12-18,314000000,318000000,...,616000000,2080000000,1791000000,2624000000,4704000000,5280000000,,-18000000,4748000000,9452000000
4,A,45846,USD,2020,Q4,2020-10-31,2020-12-18,2021-12-17,309000000,312000000,...,75000000,1467000000,2284000000,3287000000,4754000000,5314000000,,81000000,4873000000,9627000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10659,ZYNE,901704,USD,2020,Q4,2020-12-31,2021-03-10,2022-03-01,27022931,27022931,...,,13913248,,,13913248,262315983,,-202172455,60143528,74056776
10660,ZYXI,171401,USD,2016,Q4,2016-12-31,2017-04-18,2018-02-28,34398357,34398357,...,118000,7745000,136000,148000,7893000,6063000,0,-9776000,-3802000,4091000
10661,ZYXI,171401,USD,2017,Q4,2017-12-31,2018-02-28,2019-02-26,35371600,36515600,...,354000,4027000,,0,4027000,7645000,-243000,-2411000,4902000,8929000
10662,ZYXI,171401,USD,2018,Q4,2018-12-31,2019-02-26,2019-04-30,35753300,37447300,...,,6983000,2967000,2977000,9960000,8191000,-3675000,4864000,9291000,19251000
10663,ZYXI,171401,USD,2019,Q4,2019-12-31,2020-02-27,2021-02-25,35682900,37359300,...,,5197000,,3427000,8624000,9232000,-3846000,14356000,19653000,28277000

In [7]:
import numpy as np
df_income["data_comp"]=np.vectorize(combine_two_cells)(df_income["Ticker"],df_income["Report Date"])
df_balance["data_comp"]=np.vectorize(combine_two_cells)(df_balance["Ticker"],df_balance["Report Date"])

In [8]:
df_income.drop(["SimFinId","Currency",'Fiscal Year', 'Fiscal Period',
       'Report Date', 'Publish Date', 'Restated Date'],inplace=True,axis=1)

In [9]:
df_income.columns

Index(['Ticker', 'Shares (Basic)', 'Shares (Diluted)', 'Revenue',
       'Cost of Revenue', 'Gross Profit', 'Operating Expenses',
       'Selling General & Administrative', 'Research & Development',
       'Depreciation & Amortization', 'Operating Income (Loss)',
       'Non-Operating Income (Loss)', 'Interest Expense Net',
       'Pretax Income (Loss) Adj.', 'Abnormal Gains (Losses)',
       'Pretax Income (Loss)', 'Income Tax (Expense) Benefit Net',
       'Income (Loss) from Continuing Operations',
       'Net Extraordinary Gains (Losses)', 'Net Income', 'Net Income (Common)',
       'data_comp'],
      dtype='object')

In [10]:
def check_dup_2_list(list1,list2):
    list3=[]
    for i in list1:
        if i in list2:
            list3.append(i)
    return list3

check_dup_2_list(df_income.columns,df_balance.columns)

['Ticker', 'Shares (Basic)', 'Shares (Diluted)', 'data_comp']

In [11]:
df_balance.drop(['Ticker', 'SimFinId', 'Currency', 'Fiscal Year', 'Fiscal Period',
       'Report Date','Shares (Basic)', 'Shares (Diluted)'],axis=1,inplace=True)

In [12]:
def check_dup_2_list(list1,list2):
    list3=[]
    for i in list1:
        if i in list2:
            list3.append(i)
    return list3

check_dup_2_list(df_income.columns,df_balance.columns)

['data_comp']

In [33]:
df_combined=pd.merge(df_income,df_balance,how="inner",on="data_comp")
df_combined.columns

Index(['Ticker', 'Shares (Basic)', 'Shares (Diluted)', 'Revenue',
       'Cost of Revenue', 'Gross Profit', 'Operating Expenses',
       'Selling General & Administrative', 'Research & Development',
       'Depreciation & Amortization', 'Operating Income (Loss)',
       'Non-Operating Income (Loss)', 'Interest Expense Net',
       'Pretax Income (Loss) Adj.', 'Abnormal Gains (Losses)',
       'Pretax Income (Loss)', 'Income Tax (Expense) Benefit Net',
       'Income (Loss) from Continuing Operations',
       'Net Extraordinary Gains (Losses)', 'Net Income', 'Net Income (Common)',
       'data_comp', 'Publish Date', 'Restated Date',
       'Cash Cash Equivalents & Short Term Investments',
       'Accounts & Notes Receivable', 'Inventories', 'Total Current Assets',
       'Property Plant & Equipment Net', 'Long Term Investments & Receivables',
       'Other Long Term Assets', 'Total Noncurrent Assets', 'Total Assets',
       'Payables & Accruals', 'Short Term Debt', 'Total Current Liabilities',
       'Long Term Debt', 'Total Noncurrent Liabilities', 'Total Liabilities',
       'Share Capital & Additional Paid-In Capital', 'Treasury Stock',
       'Retained Earnings', 'Total Equity', 'Total Liabilities & Equity'],
      dtype='object')

In [31]:
df_combined["working_capital"]=pd.to_numeric(df_combined["Total Current Assets"])/pd.to_numeric(df_combined['Total Current Liabilities'])

In [34]:
df_combined["quck_ratio"]=(pd.to_numeric(df_combined["Total Current Assets"])-pd.to_numeric(df_combined["Inventories"]))/pd.to_numeric(df_combined['Total Current Liabilities'])

In [36]:
df_combined["Earnings_per_Share"]=pd.to_numeric(df_combined['Net Income (Common)'])/pd.to_numeric(df_combined['Shares (Basic)'])

In [37]:
df_combined["debt_equity"]=pd.to_numeric(df_combined['Total Liabilities'])/pd.to_numeric(df_combined['Total Equity'])

In [38]:
df_combined["Return_on_Equity"]=pd.to_numeric(df_combined['Net Income (Common)'])/pd.to_numeric(df_combined['Total Equity'])

In [39]:
df_combined

,Ticker,Shares (Basic),Shares (Diluted),Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Selling General & Administrative,Research & Development,Depreciation & Amortization,...,Total Liabilities,Share Capital & Additional Paid-In Capital,Treasury Stock,Retained Earnings,Total Equity,Total Liabilities & Equity,quck_ratio,Earnings_per_Share,debt_equity,Return_on_Equity
0,A,326000000,329000000,4202000000,-2005000000,2197000000,-1582000000,-1253000000,-329000000,,...,3548000000,9165000000,-10508000000,6089000000,4246000000,7794000000,3.282540,1.417178,0.835610,0.108808
1,A,322000000,326000000,4472000000,-2063000000,2409000000,-1568000000,-1229000000,-339000000,,...,3591000000,5303000000,,-126000000,4835000000,8426000000,2.845606,2.124224,0.742709,0.141468
2,A,321000000,325000000,4914000000,-2234000000,2680000000,-1776000000,-1389000000,-387000000,,...,3970000000,5311000000,,-336000000,4571000000,8541000000,2.741247,0.984424,0.868519,0.069131
3,A,314000000,318000000,5163000000,-2358000000,2805000000,-1864000000,-1460000000,-404000000,,...,4704000000,5280000000,,-18000000,4748000000,9452000000,1.206731,3.410828,0.990733,0.225569
4,A,309000000,312000000,5339000000,-2502000000,2837000000,-1991000000,-1496000000,-495000000,,...,4754000000,5314000000,,81000000,4873000000,9627000000,1.837082,2.326861,0.975580,0.147548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10319,ZYNE,27022931,27022931,,,,-52062542,-16407548,-35654994,,...,13913248,262315983,,-202172455,60143528,74056776,NaN,-1.899751,0.231334,-0.853572
10320,ZYXI,34398357,34398357,13313000,-3517000,9796000,-9156000,-9156000,,,...,7893000,6063000,0,-9776000,-3802000,4091000,0.428018,0.002006,-2.076013,-0.018148
10321,ZYXI,35371600,36515600,23432000,-4819000,18613000,-9669000,-9669000,,,...,4027000,7645000,-243000,-2411000,4902000,8929000,1.973678,0.208218,0.821501,1.502448
10322,ZYXI,35753300,37447300,31917000,-6038000,25879000,-15509000,-15509000,,,...,9960000,8191000,-3675000,4864000,9291000,19251000,1.931405,0.267164,1.072005,1.028092
10323,ZYXI,35682900,37359300,45472000,-8814000,36658000,-25592000,-25592000,,,...,8624000,9232000,-3846000,14356000,19653000,28277000,3.884549,0.266010,0.438813,0.482980